.card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-basis: 30%;
  margin: 0 auto 90px auto;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: #0a3a7e;
  border-radius: 15px;
  box-shadow: -3px 3px 5px #0b1d4d;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(115%);
    box-shadow: -5px 5px 5px #0b1d4d;
  }

  .column-left {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;

    img {
      height: 150px;
      transition: 0.9s;
      filter: drop-shadow(-3px 2px 7px #0b1d4d);
    }
  }

  .column-right {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    line-height: 30px;
    padding-right: 20px;
    text-align: center;
  }
}

.card:hover img {
  transform: scale(110%);
  transform-origin: bottom;
  filter: drop-shadow(-13px 15px 5px #0b1d4d);
}
