.blur {
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  //  width: 100vw;
  //  min-height: 100vh;
  //  padding: 4rem 2rem;
  //  background-color: rgba(16, 30, 80, 0.2);
  //  overflow-y: scroll;
  //  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(24, 38, 66, 0.9);
  overscroll-behavior: contain;
  overflow-y: auto;
  z-index: 9;

  .modal-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem;


    .modal {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      background-color: black;
      padding: 5rem;
      width: 70%;
      height: 1200px;
      border-radius: 0.5em;
      z-index: 10;
    }
  }
}