.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(2, 17, 62, 0.9);
  overscroll-behavior: contain;
  overflow-y: auto;
  z-index: 9;

  .modal-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem;

    .modal {
      position: relative;
      background-color: #0a3a7e;
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 3rem;
      border-radius: 0.5em;
      box-shadow: 0 0 5px 1px rgb(0, 0, 0);
      z-index: 10;

      .exit {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 36px;
        width: fit-content;
        padding: 15px 25px;
        border: none;
        background-color: transparent;
        color: var(--color-peach);
        cursor: pointer;
      }
    }
  }
}

h2 {
  width: fit-content;
  padding: 3rem 0 0 16px;
  font-size: 2.5rem;
}

.modal-row {
  border-bottom: 1px solid var(--color-additonal);
  padding: 3rem 1rem;

  &:last-child {
    border-bottom: none;
  }


  h3 {
    padding-bottom: 2rem;
  }
}


.summary {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding-bottom: 5rem;

  .image {
    text-align: left;
    margin: auto 0;

    img {
      max-height: 350px;
    }
  }
}


.modal-tech {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
  padding-right: 20px;

  .modal-tech-icon {
    max-width: 100px;
    padding-bottom: 15px;
    transition: 0.5s;
    @media screen and (max-width: 567px) {
      max-width: 70px;
    }
  }
}

.scale-in-center-modal {
  -webkit-animation: scale-in-center-modal 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center-modal 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center-modal {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center-modal {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.button2 {
  position: relative;
  padding: 10px 20px;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  color: var(--color-mint);
  text-decoration: none;
  overflow: hidden;
  font-family: var(--font-family);
  border: 2px solid var(--color-additonal);
  transition: all 0.1s linear;
  cursor: pointer;

  &:hover {
    border: 2px solid transparent;

    span {
      position: absolute;
      display: block;

      &:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, var(--color-peach));
        animation: animate1 1.5s linear infinite;
      }

      @keyframes animate1 {
        0% {
          left: -100%;
        }
        50%,
        100% {
          left: 100%;
        }
      }

      &:nth-child(2) {
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, var(--color-mint));
        animation: animate2 1.5s linear infinite;
        animation-delay: 0.5s;
      }

      @keyframes animate2 {
        0% {
          top: -100%;
        }
        50%,
        100% {
          top: 100%;
        }
      }

      &:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 100%;

        background: linear-gradient(270deg, transparent, var(--color-mint));
        animation: animate3 1.5s linear infinite;
        animation-delay: 0.75s;
      }

      @keyframes animate3 {
        0% {
          right: -100%;
          height: 3px;
        }
        50%,
        100% {
          height: 2px;
          right: 100%;
        }
      }

      &:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, var(--color-peach));
        animation: animate4 1.5s linear infinite;
        animation-delay: 1s;
      }

      @keyframes animate4 {
        0% {
          bottom: -100%;
        }
        50%,
        100% {
          bottom: 100%;
        }
      }
    }
  }
}

