/*h1 {*/
/*    !*position: absolute;*!*/
/*    !*top: 225px;*!*/
/*    !*left: 20%;*!*/
/*    font-family: ComfortaaBold;*/

/*    !*z-index: -3;*!*/
/*}*/

/*.content-wrapper.about-me {*/
/*    !*position: absolute;*!*/
/*    !*top: 50px;*!*/
/*    !*left: 15%;*!*/
/*    !*margin-top: 50px;*!*/
/*    !*margin-bottom: 200px;*!*/
/*    width: 50%;*/
/*    z-index: -2;*/
/*}*/

.description {
  padding-bottom: 100px;
    margin-right:  40%;
}

.image-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 90%;
    width: 800px;
    background-image: url("../images/3.png");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 100px #000);
    z-index: 1;
    transition: 1s linear;
    overflow: hidden;
}

.image-wrapper:hover {
    background-image: url("../images/5.png");

}

@media screen and (min-width: 1400px) {

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
.image-wrapper {
    height: 50%;
}
}

@media screen and (min-width: 768px) and (max-width: 991px)  {
    .image-wrapper {
        height: 30%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .image-wrapper {
        height: 20%;
    }
}

@media screen and (max-width: 575px){
    .image-wrapper {
        height: 10%;
        width: 100px;
    }
}



/*@keyframes me {*/
/*    0% {*/
/*        transform: scale(110%);*/
/*    }*/
/*    100% {*/
/*        transform: scale(120%);*/
/*    }*/
/*}*/