/*html {*/
/*    --color-additonal: #93a2bc;*/
/*    --color-main: #364257;*/
/*    --color-theme: #F3726A;*/
/*    z-index: -10;*/
/*}*/

/*body {*/
/*    background-color: var(--color-main);*/
/*    font-family: Comfortaa;*/
/*    color: var(--color-additonal);*/
/*    !*max-width: 100vw;*!*/
/*    overflow-x: hidden;*/
/*}*/

/*main {*/
/*    z-index: -9;*/
/*}*/

/*header {*/
/*    z-index: 8;*/
/*}*/

/*.app {*/
/*    position: relative;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    min-height: 100vh;*/
/*}*/

/*footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*}*/

/** {*/
/*    box-sizing: border-box;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    scroll-behavior: smooth;*/
/*}*/

/*body {*/
/*    font-family: var(--font-family);*/
/*    color: var(--color-additonal);*/
/*    letter-spacing: 1px;*/
/*    line-height: 30px;*/
/*}*/

body {
    max-width: 100vw;
    overflow-x: hidden;


    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 31% 0%, rgba(11, 62, 132, 1) 0%, rgba(1, 13, 55, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 31% 0%, rgba(11, 62, 132, 1) 0%, rgba(1, 13, 55, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 31% 0%, rgba(11, 62, 132, 1) 0%, rgba(1, 13, 55, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 31% 0%, rgba(11, 62, 132, 1) 0%, rgba(1, 13, 55, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 31% 0%, rgb(11, 62, 132) 0%, rgba(1, 13, 55, 1) 100%);

}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    width: max-content;
    padding: 30px 0;
    margin: 5% 10%;
}

a {
    color: unset;
    text-decoration: none;
}

.page-content {
    color: var(--color-additonal);
    padding-bottom: 100px;
    /*margin-right:  40%;*/
    margin-left: 15%;
    line-height: 30px;
}

/*.app {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    width: 100vw;*/
/*    !*height: 100%;*!*/
/*    min-height: 100vh;*/
/*}*/

.app-wrapper {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 142px;
}

.gradient-bg {
    /*max-width: 100vw;*/
    /*min-height: 100vh;*/
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 31% 0%, rgba(0, 47, 129, 1) 9%, rgba(0, 32, 65, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 31% 0%, rgba(0, 47, 129, 1) 9%, rgba(0, 32, 65, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 31% 0%, rgba(0, 47, 129, 1) 9%, rgba(0, 32, 65, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 31% 0%, rgba(0, 47, 129, 1) 9%, rgba(0, 32, 65, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 31% 0%, rgba(0, 47, 129, 1) 9%, rgba(0, 32, 65, 1) 100%);

}

/*.page-wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    min-height: calc(100vh - 96.67px);*/
/*}*/

.gradient-text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*.section-padding {*/
/*    padding: 4rem 6rem;*/
/*}*/

/*.section-margin {*/
/*    margin: 4rem 6rem;*/
/*}*/

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*@media screen and (max-width: 700px) {*/
/*    .section-padding {*/
/*        padding: 4rem;*/
/*    }*/

/*    .section-margin {*/
/*        margin: 4rem;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 550px) {*/
/*    .section-padding {*/
/*        padding: 4rem 2rem;*/
/*    }*/

/*    .section-margin {*/
/*        margin: 4rem 2rem;*/
/*    }*/
/*}*/

.container {
    width: 100%;
    position: relative;
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px)  {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 576px){
    .container {
        max-width: 100%;
    }
}

