/*h1 {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 10%;*/
/*    margin-top: 225px;*/
/*    font-family: ComfortaaBold;*/
/*    font-size: 2.5rem;*/
/*}*/

/*.content-wrapper {*/
/*    position: relative;*/
/*    top: 50px;*/
/*    left: 15%;*/
/*    line-height: 30px;*/
/*    !*min-height: 600px;*!*/
/*    !*margin-bottom: 300px;*!*/
/*}*/

.email-contact {
    line-height: 10px;
}

.social-wrapper {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    height: 100px;
}

.social-contact {
    text-align: center;
}

.arrows {
display: flex;
    transform: translate(-50%);
    font-size: 1.5rem;
    animation: arrow 3s infinite linear;
}

@keyframes arrow {
    0% {
        bottom: 20px
    }
    10% {
        bottom: 15px;
    }
    20% {
        bottom: 20px;
    }
    30% {
        bottom: 20px
    }
    40% {
        bottom: 15px;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 20px;
    }

}

.email {
    display: inline-block;
    transform: translate(5%, -30%);
}

.icon {
    display: inline-block;
    font-size: 36px;
}

.email-link {
    width: fit-content;
    transition: color 0.2s;
    cursor: pointer;
}

.email-link:hover {
    color: var(--color-theme);
}

.form {
    position: absolute;
    top: 100px;
    right: 15%;
    min-height: 550px;
}

input, textarea {
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--color-additonal);
    font-family: Comfortaa;
    color: var(--color-additonal);
}

::placeholder {
    color: var(--color-additonal);
}

input:focus, textarea:focus {
    border-color: var(--color-theme);
    outline: none;
    box-shadow: 0 0 5px var(--color-theme);
}

input {
    width: 100%;
}

textarea {
    resize: none;
}

button.send {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid var(--color-additonal);
    color: var(--color-additonal);
    font-family: Comfortaa;
    transition: 0.5s;
    cursor: pointer;
}

.send:hover {
    background-color: var(--color-theme);
    color: #364257;
    border-color: var(--color-theme);
    font-family: ComfortaaBold;
}





