.ghost-shadow {
    position: fixed;
    z-index: -3;
}

.blue {
    bottom: 20%;
    right: 10%;
    animation: blue-shadow 50s infinite linear;
}

@keyframes blue-shadow {
    0% {
        bottom: 20%;
        right: 10%;
        transform: scale(170%);
    }
    20% {
        bottom: 30%;
        right: 20%;
        transform: scale(140%);
    }
    40% {
        bottom: 40%;
        right: 5%;
        transform: scale(80%);
    }
    60% {
        bottom: 50%;
        right: 2%;
        transform: scale(80%);
    }
    80% {
        bottom: 30%;
        right: 5%;
        transform: scale(140%);
    }
    100% {
        bottom: 20%;
        right: 10%;
        transform: scale(170%);
    }
}

.coral {
    bottom: 5%;
    right: 30%;
    animation: coral-shadow 40s infinite linear;
}

@keyframes coral-shadow {
    0% {
        bottom: 5%;
        right: 30%;
        transform: scale(170%);
    }
    20% {
        bottom: 2%;
        right: 10%;
        transform: scale(140%);
    }
    40% {
        bottom: 1%;
        right: 1%;
        transform: scale(80%);
    }
    60% {
        bottom: 24%;
        right: 15%;
        transform: scale(80%);
    }
    80% {
        bottom: 14%;
        right: 25%;
        transform: scale(140%);
    }
    100% {
        bottom: 5%;
        right: 30%;
        transform: scale(170%);
    }
}

.main {
    margin: 15% 10%;

}

.hero-wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 250px);
    align-items: center;
}

.hero {
    color: var(--color-additonal);
    font-size: 2em;
    letter-spacing: 1.5px;
    line-height: 80px;
}

.imp {
    font-family: var(--font-family);
    /*color: var(--gradient-text);*/
    font-size: 2em;
}

@media screen and (min-width: 1400px) and (max-width: 1640px){
    .hero {
        padding-top: 5%;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
.hero {
    padding-top: 10%;
    font-size: 1rem;
    line-height: 45px;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .hero {
        padding-top: 5%;
        font-size: 1rem;
        line-height: 45px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px)  {
    .hero {
        padding-top: 5%;
        font-size: 1rem;
        line-height: 40px;
        width: 400px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .hero {
        padding-top: 15%;
        font-size: 1rem;
        line-height: 35px;
        width: 400px;
    }
}

@media screen and (max-width: 576px){
    .hero {
        padding-top: 15%;
        font-size: 1rem;
        line-height: 35px;
        width: 400px;
    }

    /*.ghost-shadow {*/
    /*    transform: scale(10%);*/
    /*}*/
}


