@font-face {
    font-family: "ComfortaaBold";
    src: local("Comfortaa-Bold"),
    url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa-Regular"),
    url("../fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    /*--font-family-regular: 'Comfortaa', sans-serif;*/
    /*--font-family-bold: 'ComfortaaBold', sans-serif;*/
    --font-family: 'Comfortaa', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    --color-additonal: #93a2bc;
    --color-main: #364257;
    --color-theme: #F3726A;
}
