.logo {
    position: fixed;
    font-family: Comfortaa;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 50px;
    width: fit-content;
    text-shadow: 2px 1px 5px #2d2d2d;
    color: var(--color-additonal);
    cursor: pointer;
    transition: 0.5s;
}

@keyframes shine {
    0% {
        background-position: -500px;
    }
    15% {
        background-position: 500px;
    }
    30% {
        background-position: 500px;
    }
    45% {
        background-position: 500px;
    }
    60% {
        background-position: -500px;
    }
    100% {
        background-position: -500px;
    }
}

.shine {
    background: var(--color-additonal) -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-image: linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    -webkit-background-size: 200px;
    color: rgba(147, 162, 188, 0);
    background-clip: text;
    animation-name: shine;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0);
}

.initial {
    font-family: ComfortaaBold;
    font-size: 65px;
    color: var(--color-theme);
    transition: 0.5s;
}