h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-family: ComfortaaBold;
    font-size: 2.5rem;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

