.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 6rem;
  @media screen and (max-width: 768px) {
      padding: 1rem 1rem;
    }
  @media screen and (max-width: 576px) {
      padding: 5px 5px;
    }

  .navbar-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 576px) {
      width: fit-content;
    }

    .logo {
      font-size: 2rem;
      color: var(--color-additonal);
      margin-right: 2rem;
      @media screen and (max-width: 576px) {
        font-size: 1.5rem;
        margin-right: 10px;
      }

      a {
        span {
          &.initial {
            font-size: 2.5rem;
            font-weight: 800;
          }
          @media screen and (max-width: 576px) {
            font-size: 2rem;
        }

          &.first {
            color: var(--color-peach);
          }

          &.last {
            color: var(--color-mint);
          }
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      align-content: space-between;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.menu, .menu-burger-container {

  a {
    display: block;
    position: relative;
    color: var(--color-additonal);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    width: fit-content;
    margin: 0 1rem;
    cursor: pointer;

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 27px;
      left: 50%;
      transform: translate(-50%);
      height: 2px;
      width: 0;
      border-radius: 50%;
      box-shadow: 0 0 5px white;
      background-image: var(--gradient-bar);
      transition: .5s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }

    &.active {
      background: var(--gradient-text);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:after {
        width: 100%;
      }
    }

  }
}

.navbar-menu .menu-burger {
   color: var(--color-additonal);
   font-size: 2rem;
   cursor: pointer;
 }

.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
  @media screen and (max-width: 1200px) {
    display: block;
  }

  .menu-burger-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: rgba(1, 13, 55, 0.5);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    border: 2px solid rgba(11, 62, 132, 100);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    z-index: 1;
    @media screen and (max-width: 576px) {
      background: rgba(1, 13, 55, 0.8);
    }

    a {
      display: block;
      margin: 1rem 0;
    }
  }
}




