.ghost-shadow {
  position: fixed;
  z-index: -3;
}

.mint {
  bottom: 20%;
  right: 10%;
  animation: mint-shadow 50s infinite linear;
}

@keyframes mint-shadow {
  0% {
    bottom: 20%;
    right: 10%;
    transform: scale(170%);
  }
  20% {
    bottom: 30%;
    right: 20%;
    transform: scale(140%);
  }
  40% {
    bottom: 40%;
    right: 5%;
    transform: scale(80%);
  }
  60% {
    bottom: 50%;
    right: 2%;
    transform: scale(80%);
  }
  80% {
    bottom: 30%;
    right: 5%;
    transform: scale(140%);
  }
  100% {
    bottom: 20%;
    right: 10%;
    transform: scale(170%);
  }
}

.peach {
  bottom: 5%;
  right: 30%;
  animation: peach-shadow 40s infinite linear;
}

@keyframes peach-shadow {
  0% {
    bottom: 5%;
    right: 30%;
    transform: scale(170%);
  }
  20% {
    bottom: 2%;
    right: 10%;
    transform: scale(140%);
  }
  40% {
    bottom: 1%;
    right: 1%;
    transform: scale(80%);
  }
  60% {
    bottom: 24%;
    right: 15%;
    transform: scale(80%);
  }
  80% {
    bottom: 14%;
    right: 25%;
    transform: scale(140%);
  }
  100% {
    bottom: 5%;
    right: 30%;
    transform: scale(170%);
  }
}

.hero-wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 250px);
  align-items: center;

  .hero {
    color: var(--color-additonal);
    font-size: 2em;
    letter-spacing: 1.5px;
    line-height: 80px;
    @media screen and (max-width: 1640px) {
      padding-top: 5%;
      font-size: 1.5rem;
    }

    @media screen and (max-width: 1400px) {
      //padding-top: 10%;
      font-size: 1rem;
      line-height: 45px;
    }

    @media screen and (max-width: 1200px) {
    }

    @media screen and (max-width: 992px) {
      line-height: 40px;
      width: 400px;
    }

    @media screen and (max-width: 768px) {
        line-height: 35px;
    }

    @media screen and (max-width: 576px) {
      width: 200px;
    }

    span {
      &.imp {
        font-family: var(--font-family);
        font-size: 2em;
      }
    }
  }
}





