.ghost-shadow {
  position: fixed;
  z-index: -3;

  &.mint {
    bottom: 20%;
    right: 10%;
    animation: mint-shadow 30s infinite both linear;
    @media screen and (max-width: 768px) {
      animation: mint-shadow-small 20s infinite both linear;
    }
  }

  &.peach {
    bottom: 5%;
    right: 30%;
    animation: peach-shadow 40s infinite both linear;
    @media screen and (max-width: 768px) {
      animation: peach-shadow-small 30s infinite both linear;
    }
  }
}


@keyframes mint-shadow {
  0% {
    bottom: 20%;
    right: 10%;
    transform: scale(170%);
  }
  20% {
    bottom: 30%;
    right: 20%;
    transform: scale(140%);
  }
  40% {
    bottom: 40%;
    right: 5%;
    transform: scale(80%);
  }
  60% {
    bottom: 50%;
    right: 2%;
    transform: scale(80%);
  }
  80% {
    bottom: 30%;
    right: 5%;
    transform: scale(140%);
  }
  100% {
    bottom: 20%;
    right: 10%;
    transform: scale(170%);
  }
}


@keyframes peach-shadow {
  0% {
    bottom: 5%;
    right: 30%;
    transform: scale(170%);
  }
  20% {
    bottom: 2%;
    right: 10%;
    transform: scale(140%);
  }
  40% {
    bottom: 1%;
    right: 1%;
    transform: scale(80%);
  }
  60% {
    bottom: 24%;
    right: 15%;
    transform: scale(80%);
  }
  80% {
    bottom: 14%;
    right: 25%;
    transform: scale(140%);
  }
  100% {
    bottom: 5%;
    right: 30%;
    transform: scale(170%);
  }
}

@keyframes mint-shadow-small {
  0% {
    bottom: 55%;
    right: -9%;
    transform: scale(170%);
  }
  20% {
    bottom: 50%;
    right: 20%;
    transform: scale(140%);
  }
  40% {
    bottom: 55%;
    right: 5%;
    transform: scale(80%);
  }
  60% {
    bottom: 60%;
    right: -10%;
    transform: scale(80%);
  }
  80% {
    bottom: 45%;
    right: -20%;
    transform: scale(140%);
  }
  100% {
    bottom: 55%;
    right: -9%;
    transform: scale(170%);
  }
}


@keyframes peach-shadow-small {
  0% {
    bottom: -15%;
    right: 3%;
    transform: scale(170%);
  }
  20% {
    bottom: 2%;
    right: 10%;
    transform: scale(140%);
  }
  40% {
    bottom: -1%;
    right: 1%;
    transform: scale(80%);
  }
  60% {
    bottom: 1%;
    right: -35%;
    transform: scale(80%);
  }
  80% {
    bottom: -5%;
    right: -45%;
    transform: scale(140%);
  }
  100% {
    bottom: -15%;
    right: 3%;
    transform: scale(170%);
  }
}

.hero-wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 352px);
  align-items: center;
  margin-top: 50px;

  &.fade-in-fwd {
    -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
  }

  .hero {
    color: var(--color-additonal);
    font-size: 2rem;
    letter-spacing: 1.5px;
    line-height: 45px;

    @media screen and (max-width: 992px) {
      width: 450px;
    }

    @media screen and (max-width: 576px) {
      width: 250px;
    }

    .hero-animation {
      display: inline-block;

      .words-carousel {
        height: 45px;
        width: 550px;
        overflow: hidden;

        ul {
          position: relative;
          top: -17px;
          animation: carousel 30s linear infinite 1s;

          li {
            list-style: none;
            line-height: 90px;
            white-space: nowrap;
            border-right: 3px solid var(--color-additonal);
            animation: cursor linear 1s infinite both, typing linear 30s both infinite 1s;
          }
        }
      }
    }
  }
}

@keyframes typing {
  0% {
    width: 190px;
  }
  7%, 7.99%  {
    width: 1px;
  }
  8% {
    width: 1px;
  }
  19%, 20.99% {
    width: 320px;
  }
  21% {
    width: 320px;
  }
  32%, 32.99% {
    width: 1px;
  }
  33% {
    width: 1px;
  }
  42%, 43.99% {
    width: 260px;
  }
  44% {
    width: 260px;
  }
  53%, 53.99% {
    width: 1px;
  }
  54% {
    width: 1px;
  }
  63%, 64.99% {
    width: 270px;
  }
  65% {
    width: 270px;
  }
  74%, 74.99% {
    width: 1px;
  }
  75% {
    width: 1px;
  }
  82%, 83.99% {
    width: 200px;
  }
  84% {
    width: 200px;
  }
  91%, 91.99% {
    width: 1px;
  }
  92% {
    width: 1px;
  }
  99%, 99.99% {
    width: 190px;
  }
  100% {
    width: 190px;
  }
}

@keyframes carousel {
  0%, 7.99% {
    top: -17px;
  }
  8%, 32.99% {
    top: -107px;
  }
  33%, 53.99% {
    top: -197px;
  }
  54%, 74.99% {
    top: -287px;
  }
  75%, 91.99% {
    top: -377px;
  }
  92%, 100% {
    top: -17px;
  }
}

@keyframes cursor {
  from {
    border-right: none;
  }
  50% {
    border-right: 3px solid var(--color-additonal);
  }
  to {
    border-right: none;
  }
}


.imp {
  font-family: var(--font-family);
  font-size: 2rem;
  letter-spacing: 8px;
  line-height: 55px;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

//@keyframes words-corousel {
//
//}
