.ghost-shadow {
  position: fixed;
  z-index: -3;

  &.mint {
    bottom: 20%;
    right: 10%;
    animation: mint-shadow 30s infinite both linear;
    @media screen and (max-width: 768px) {
      animation: mint-shadow-small 20s infinite both linear;
    }
  }

  &.peach {
    bottom: 5%;
    right: 30%;
    animation: peach-shadow 40s infinite both linear;
    @media screen and (max-width: 768px) {
      animation: peach-shadow-small 30s infinite both linear;
    }
  }

}


@keyframes mint-shadow {
  0% {
    bottom: 20%;
    right: 10%;
    transform: scale(170%);
  }
  20% {
    bottom: 30%;
    right: 20%;
    transform: scale(140%);
  }
  40% {
    bottom: 40%;
    right: 5%;
    transform: scale(80%);
  }
  60% {
    bottom: 50%;
    right: 2%;
    transform: scale(80%);
  }
  80% {
    bottom: 30%;
    right: 5%;
    transform: scale(140%);
  }
  100% {
    bottom: 20%;
    right: 10%;
    transform: scale(170%);
  }
}


@keyframes peach-shadow {
  0% {
    bottom: 5%;
    right: 30%;
    transform: scale(170%);
  }
  20% {
    bottom: 2%;
    right: 10%;
    transform: scale(140%);
  }
  40% {
    bottom: 1%;
    right: 1%;
    transform: scale(80%);
  }
  60% {
    bottom: 24%;
    right: 15%;
    transform: scale(80%);
  }
  80% {
    bottom: 14%;
    right: 25%;
    transform: scale(140%);
  }
  100% {
    bottom: 5%;
    right: 30%;
    transform: scale(170%);
  }
}

@keyframes mint-shadow-small {
  0% {
    bottom: 55%;
    right: -9%;
    transform: scale(170%);
  }
  20% {
    bottom: 50%;
    right: 20%;
    transform: scale(140%);
  }
  40% {
    bottom: 55%;
    right: 5%;
    transform: scale(80%);
  }
  60% {
    bottom: 60%;
    right: -10%;
    transform: scale(80%);
  }
  80% {
    bottom: 45%;
    right: -20%;
    transform: scale(140%);
  }
  100% {
    bottom: 55%;
    right: -9%;
    transform: scale(170%);
  }
}


@keyframes peach-shadow-small {
  0% {
    bottom: -15%;
    right: 3%;
    transform: scale(170%);
  }
  20% {
    bottom: 2%;
    right: 10%;
    transform: scale(140%);
  }
  40% {
    bottom: -1%;
    right: 1%;
    transform: scale(80%);
  }
  60% {
    bottom: 1%;
    right: -35%;
    transform: scale(80%);
  }
  80% {
    bottom: -5%;
    right: -45%;
    transform: scale(140%);
  }
  100% {
    bottom: -15%;
    right: 3%;
    transform: scale(170%);
  }
}

  .hero-wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 352px);
    align-items: center;
    margin-top: 50px;
    &.fade-in-fwd {
      -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
      animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    }

    .hero {
      color: var(--color-additonal);
      font-size: 2em;
      letter-spacing: 1.5px;
      line-height: 55px;


      @media screen and (max-width: 1640px) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 1400px) {
        line-height: 45px;
      }

      @media screen and (max-width: 1200px) {
      }

      @media screen and (max-width: 992px) {
        width: 450px;
      }

      @media screen and (max-width: 576px) {
        line-height: 35px;
        width: 250px;
      }

      span {
        &.imp {
          font-family: var(--font-family);
          font-size: 2em;
          @media screen and (max-width: 992px) {
            font-size: 1.8rem;
        }
        }
      }
    }
  }


@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
