.ghost-shadow {
  position: fixed;
  z-index: -3;

  &.mint {
    bottom: 20%;
    right: 10%;
    animation: mint-shadow 30s infinite both linear;
    @media screen and (max-width: 768px) {
      animation: mint-shadow-small 20s infinite both linear;
    }
  }

  &.peach {
    bottom: 5%;
    right: 30%;
    animation: peach-shadow 40s infinite both linear;
    @media screen and (max-width: 768px) {
      animation: peach-shadow-small 30s infinite both linear;
    }
  }
}


@keyframes mint-shadow {
  0% {
    bottom: 20%;
    right: 10%;
    transform: scale(170%);
  }
  20% {
    bottom: 30%;
    right: 20%;
    transform: scale(140%);
  }
  40% {
    bottom: 40%;
    right: 5%;
    transform: scale(80%);
  }
  60% {
    bottom: 50%;
    right: 2%;
    transform: scale(80%);
  }
  80% {
    bottom: 30%;
    right: 5%;
    transform: scale(140%);
  }
  100% {
    bottom: 20%;
    right: 10%;
    transform: scale(170%);
  }
}


@keyframes peach-shadow {
  0% {
    bottom: 5%;
    right: 30%;
    transform: scale(170%);
  }
  20% {
    bottom: 2%;
    right: 10%;
    transform: scale(140%);
  }
  40% {
    bottom: 1%;
    right: 1%;
    transform: scale(80%);
  }
  60% {
    bottom: 24%;
    right: 15%;
    transform: scale(80%);
  }
  80% {
    bottom: 14%;
    right: 25%;
    transform: scale(140%);
  }
  100% {
    bottom: 5%;
    right: 30%;
    transform: scale(170%);
  }
}

@keyframes mint-shadow-small {
  0% {
    bottom: 55%;
    right: -9%;
    transform: scale(170%);
  }
  20% {
    bottom: 50%;
    right: 20%;
    transform: scale(140%);
  }
  40% {
    bottom: 55%;
    right: 5%;
    transform: scale(80%);
  }
  60% {
    bottom: 60%;
    right: -10%;
    transform: scale(80%);
  }
  80% {
    bottom: 45%;
    right: -20%;
    transform: scale(140%);
  }
  100% {
    bottom: 55%;
    right: -9%;
    transform: scale(170%);
  }
}


@keyframes peach-shadow-small {
  0% {
    bottom: -15%;
    right: 3%;
    transform: scale(170%);
  }
  20% {
    bottom: 2%;
    right: 10%;
    transform: scale(140%);
  }
  40% {
    bottom: -1%;
    right: 1%;
    transform: scale(80%);
  }
  60% {
    bottom: 1%;
    right: -35%;
    transform: scale(80%);
  }
  80% {
    bottom: -5%;
    right: -45%;
    transform: scale(140%);
  }
  100% {
    bottom: -15%;
    right: 3%;
    transform: scale(170%);
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 12rem 0 6rem 0;
  @media screen and (min-width: 1600px) {
    max-width: 1520px;
    padding: 0 0 8rem 2rem;
    padding-top: 10%;
  }
  @media screen and (max-width: 1600px) {
    max-width: 1320px;
    padding: 0 0 6rem 2rem;
    padding-top: 7%;
  }
  @media screen and (max-width: 1400px) {
    max-width: 100%;
  }
  @media sreen and (max-width: 992px) {
    padding: 0rem 20px 3rem 15px;
  }
  @media screen and (max-width: 576px) {
    font-size: 14px;
    padding: 3rem 20px 3rem 15px;
  }
  @media screen and (max-height: 650px) and (max-width: 576px) {
    padding-top: 0;
  }

  &.fade-in-fwd {
    -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 0 4rem 0;
    color: var(--color-additonal);
    font-size: 2rem;
    letter-spacing: 1.5px;
    line-height: 55px;
    @media screen and (max-width: 1640px) {
      font-size: 1.5rem;
      padding-top: 6rem;
    }

    @media screen and (max-width: 1400px) {
      line-height: 45px;
    }

    @media screen and (max-width: 1200px) {
    }

    @media screen and (max-width: 992px) {
      padding-top: 0;
      width: 470px;
    }

    @media screen and (max-width: 576px) {
      padding-top: 5rem;
      font-size: 1.3rem;
      line-height: 35px;
      width: 250px;
    }
    .typewriter-wrapper {
      height: 55px;
      width: fit-content;
      animation: cursor 1s linear infinite both;
      @media screen and (max-width: 1400px) {
        height: 45px;
      }
      @media screen and (max-width: 576px) {
        height: 35px;
      }
    }
  }
}

@keyframes cursor {
  from {
    border-right: 3px solid transparent;
  }
  50% {
    border-right: 3px solid var(--color-additonal);
  }
  to {
    border-right: 3px solid transparent;
  }
}

.imp {
  font-family: var(--font-family);
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 8px;
  line-height: 55px;
  width: fit-content;
  @media screen and (max-width: 992px) {
    font-size: 1.8rem;
    letter-spacing: 5px;
  }
  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
    line-height: 35px;
  }
}

.wrap {
  white-space: nowrap;
  animation: cursor linear 1s infinite;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.scale-up-center-ghost {
  -webkit-animation: scale-up-center 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
