.row {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  width: 100%;
  padding-bottom: 142px;
  height: fit-content;
  @media screen and (max-width: 1200px) {
    align-items: flex-start;
    margin: 0 auto;
  }
  @media screen and (max-width: 576px) {
    font-size: 13px;
  }

  .col-left {
    flex: 1 1 50%;
    justify-content: flex-start;
    padding-right: 25px;
    @media screen and (max-width: 1200px) {
      padding: 0 0 50px 0;
      justify-content: center;
      width: 100%;
    }

    .email-contact {
      line-height: 30px;
    }

    .email-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bolder;
      width: fit-content;
      cursor: pointer;

      .fa-at {
        font-size: 40px;
        padding: 10px;
        @media screen and (max-width: 576px) {
          font-size: 25px;
        }
      }

      a {
        display: flex;
        align-items: center;
      }

      &:hover {
        background: var(--gradient-text);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .col-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 50%;
    padding-left: 25px;
    @media screen and (max-width: 1200px) {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      width: 100%;
      flex-basis: 100%;
    }


    form {
      width: 100%;
      input {
        width: 100%;
      }

      textarea {
        resize: none;
        width: 100%;
        @media screen and (max-width: 1640px) {

        }
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }

      input, textarea {
        box-sizing: border-box;
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 22px;
        background-color: transparent;
        border-radius: 10px;
        border: 2px solid var(--color-mint);
        font-family: var(--font-family);
        color: var(--color-additonal);

        @media screen and (max-width: 576px) {
          font-size: 13px;
        }

        &:focus, &:focus {
          border: 2px solid var(--color-mint);
          outline: none;
          box-shadow: 0 0 5px var(--color-mint);
        }

        &::placeholder {
          color: var(--color-additonal);
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}


.social-wrapper {
  padding-top: 100px;
  color: var(--color-additonal);
  font-size: 20px;

  @media screen and (max-width: 1200px) {
    width: fit-content;
  }
  @media screen and (max-width: 576px) {
    width: fit-content;
    font-size: 14px;
  }


  .social-section {
    position: absolute;
    bottom: 90px;
    left: 50%;
    width: 400px;
    height: 100px;

    @media screen and (max-width: 1200px) {
      width: fit-content;
    }
    @media screen and (max-width: 576px) {
      bottom: 65px;
      width: fit-content;
      font-size: 12px;
    }
    &.bounce-in-top {
    -webkit-animation: bounce-in-top 1.6s 1.2s both;
    animation: bounce-in-top 1.6s 1.2s both;
  }

    .social-contact {
      text-align: center;
    }

    .arrows {
      position: relative;
      bottom: 0;
      left: 50%;
      font-size: 1.5rem;
      animation: arrow 3s infinite linear;
    }
  }
}


@keyframes arrow {
  0% {
    bottom: -15px;
  }
  10% {
    bottom: -20px;
  }
  20% {
    bottom: -15px;
  }
  30% {
    bottom: -15px
  }
  40% {
    bottom: -20px;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: -15px;
  }
}



@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translate(-50%, -500px);
    transform: translate(-50%, -500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translate(-50%, -65px);
    transform: translate(-50%, -65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translate(-50%, -28px);
    transform: translate(-50%, -28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translate(-50%, -8px);
    transform: translate(-50%, -8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translate(-50%, -500px);
    transform: translate(-50%, -500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translate(-50%, -65px);
    transform: translate(-50%, -65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translate(-50%, -28px);
    transform: translate(-50%, -28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translate(-50%, -8px);
    transform: translate(-50%, -8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

button.submitBtn {
  font-family: inherit;
  font-size: 20px;
  background: transparent;
  color: var(--color-additonal);
  padding: 0.7em 1em 0.7em 0.9em;
  margin: 2rem auto 0;
  display: flex;
  align-items: center;
  border: 2px solid var(--color-mint);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;

  &:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  &:hover svg {
     transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }

  &:hover span {
    transform: translateX(5em);
  }

  &:active {
    transform: scale(0.95);
  }

  svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}





